body {
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    font-size: 14px;
    background: #F3F3F3;
    margin-bottom: 60px;
}

.bar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 3;

    height: 42px;
    background: #3276b1;
}

.header {
    position: relative;
    width: 960px;
    height: 42px;
    line-height: 42px;
    margin: 0 auto;
    padding: 0 20px;
    color: #fff;
}

.logo {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding-left: 40px;
    background: url(./i/logo.png) no-repeat;
}

.menu, .menu ul, .menu li, .actions {
    display: inline-block;
}

.menu li {
    margin-left: 10px;
}

.actions {
    position: absolute;
    right: 20px;
}

.user {
    margin-right: 10px;
}

.actions a, .menu li a {
    color: #fff;
}

html, #global-container {
    height: 100%;
}

.content {
    width: 960px;
    padding-top: 52px;
    margin: 0 auto;
}

.island {
    margin-bottom: 10px;
    padding: 20px;
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}

.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: normal;
    padding: 4px 25px 4px 4px;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

.tablesorter-default .header, .tablesorter-default .tablesorter-header {
    background-image: url(http://192.241.236.31/test4.smartadmin/img/sort_both.png);
}

.portfolio {
    margin-top: 10px;
    margin-bottom: 0;
}

.portfolio td, .portfolio th {
    text-align: right;
}

.portfolio td, .portfolio th {
    text-align: right;
}

.portfolio .portfolio-title {
    position: relative;
    text-align: left;
}

.portfolio-title .inner {
    position: relative;
    margin-left: 18px;
}

.portfolio.table .danger td {
    background: #fbe7e8;
}

.portfolio.table th {
    border-bottom: none;
}

.fx-trend:before {
    position: absolute;
    left: -18px;
    top: 50%;
    margin-top: -6px;
    content: '';
    width: 12px;
    height: 12px;
    background: url(./i/fx-trend.png) no-repeat;
}

.panteon:before {
    position: absolute;
    left: -18px;
    top: 50%;
    margin-top: -6px;
    content: '';
    width: 12px;
    height: 12px;
    background: url(./i/panteon.png) no-repeat;
}

.profit-minus {
    color: red;
}

.profit-plus {
    color: green;
}

.footer {
    font-size: 0.9em;
    width: 960px;
    margin: 0 auto;
    line-height: 50px;
    color: #898f9c;
}

.glyphicon-warning-sign {
    position:absolute;
    right: 5px;
    top: 50%;
    margin-top: -8px;
    color: red;
    cursor: pointer;
}
